html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.page {
  height: 100%;
  background-color: #ffd6e8; /* light pink */
  display: flex;
  justify-content: center;
  align-items: center;
}

.page h1 {
  font-size: 3.5rem;
  color: #b3005e;
}
